# Preliminary inspection

In [1]:
import pandas as pd

In [5]:
data = pd.read_table('./en.openfoodfacts.org.products.csv', sep='\t')

/home/guillaume/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (0,3,5,27,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
data.shape

(80501, 159)

### Percentage of missing values for each column.

In [31]:
(data.isnull().mean().sort_values() * 100)

last_modified_t                              0.000000
last_modified_datetime                       0.000000
created_t                                    0.003727
created_datetime                             0.008696
code                                         0.023602
url                                          0.023602
creator                                      0.085713
states                                       0.114284
states_tags                                  0.114284
states_en                                    0.114284
countries                                    0.273289
countries_en                                 0.273289
countries_tags                               0.273289
image_small_url                              5.915454
image_url                                    5.915454
product_name                                 9.983727
brands                                      13.562564
brands_tags                                 13.567533
quantity                                    16.701656
pnns_groups_2                               19.448206
pnns_groups_1                               22.075502
categories                                  26.633210
categories_en                               26.633210
categories_tags                             26.655569
main_category_en                            26.679172
main_category                               26.679172
packaging_tags                              30.176023
packaging                                   30.176023
ingredients_text                            36.256692
ingredients_that_may_be_from_palm_oil_n     36.290232
                                              ...
serum-proteins_100g                         99.988820
oleic-acid_100g                             99.988820
beta-carotene_100g                          99.988820
maltodextrins_100g                          99.990062
molybdenum_100g                             99.992547
arachidonic-acid_100g                       99.993789
glucose_100g                                99.993789
nucleotides_100g                            99.996273
lauric-acid_100g                            99.996273
maltose_100g                                99.997516
myristic-acid_100g                          99.998758
capric-acid_100g                            99.998758
palmitic-acid_100g                          99.998758
stearic-acid_100g                           99.998758
caprylic-acid_100g                          99.998758
nutrition_grade_uk                         100.000000
chlorophyl_100g                            100.000000
erucic-acid_100g                           100.000000
lignoceric-acid_100g                       100.000000
caproic-acid_100g                          100.000000
nervonic-acid_100g                         100.000000
cerotic-acid_100g                          100.000000
melissic-acid_100g                         100.000000
ingredients_from_palm_oil                  100.000000
elaidic-acid_100g                          100.000000
no_nutriments                              100.000000
ingredients_that_may_be_from_palm_oil      100.000000
mead-acid_100g                             100.000000
butyric-acid_100g                          100.000000
montanic-acid_100g                         100.000000
dtype: float64

### Most represented countries

In [36]:
data[['countries_en', 'last_modified_t']].groupby('countries_en').count().sort_values('last_modified_t', ascending=False)

                                                    last_modified_t
countries_en
France                                                        52433
United Kingdom                                                 3974
Spain                                                          3870
Germany                                                        3847
United States                                                  2623
Belgium                                                        2381
Switzerland                                                    2042
Australia                                                      1465
Italy                                                           704
Canada                                                          618
Portugal                                                        567
Brazil                                                          320
France,fr:Europe                                                253
Denmark                                                         223
Belgium,France                                                  213
Austria                                                         205
Netherlands                                                     200
Czech Republic                                                  159
Thailand                                                        148
Réunion                                                         130
Ireland                                                         128
Luxembourg                                                      123
Tunisia                                                         121
China                                                           117
Poland                                                          110
France,United Kingdom                                           110
France,Germany                                                  108
Guadeloupe                                                      106
Japan                                                            98
Russia                                                           97
...                                                             ...
Belgium,France,Netherlands,United Kingdom                         1
Belgium,France,Netherlands,Switzerland                            1
Germany,Switzerland,United Kingdom                                1
Germany,Portugal,Spain                                            1
Czech Republic,France,Iraq                                        1
Germany,Poland                                                    1
France,Saudi Arabia,Deutschland                                   1
France,Serbia                                                     1
France,Slovenia                                                   1
Czech Republic,Denmark,France,Germany                             1
France,Sri Lanka                                                  1
Croatia,Portugal                                                  1
France,Switzerland,Tunisia                                        1
France,Switzerland,United States                                  1
France,Switzerland,fr:Europe                                      1
France,Taiwan                                                     1
France,Thailand,United Kingdom                                    1
France,United Arab Emirates                                       1
China,Switzerland                                                 1
China,Hong Kong                                                   1
China,France,Germany                                              1
China,France                                                      1
China,Denmark,France                                              1
Canada,Portugal                                                   1
Georgia                                                           1
Canada,France,Greece,Netherlands,Spain,United K...                1
Germany,Greece,Spain                                              1
Germany,Italy                                                     1
Germany,Netherlands                                               1
France,Ireland,United Kingdom                                     1

[404 rows x 1 columns]